{% extends 'base_profile.html' %}
{% load static %}
{% block third_css %}
    <link rel="stylesheet" href="{% static 'account/css/profile.css' %}">
    <style>
        #d-buysell .card {
            width: 400px;
            background-color: #fff;
            border: none;
            border-radius: 12px
        }

        #d-buysell label.radio {
            cursor: pointer;
            width: 100%
        }

        #d-buysell label.radio input {
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            pointer-events: none
        }

        #d-buysell label.radio span {
            padding: 7px 14px;
            border: 2px solid #eee;
            display: inline-block;
            color: #039be5;
            border-radius: 10px;
            width: 100%;
            height: 48px;
            line-height: 30px
        }

        #d-buysell label.radio input:checked + span {
            border-color: #039BE5;
            background-color: #81D4FA;
            color: #fff;
            border-radius: 9px;
            height: 48px;
            line-height: 30px
        }

        #d-buysell .form-control {
            margin-top: 10px;
            height: 48px;
            border: 2px solid #eee;
            border-radius: 10px;
        }

        #d-buysell .form-control:focus {
            box-shadow: none;
            border: 2px solid #039BE5;
        }

        #d-buysell .agree-text {
            font-size: 12px;
        }

        #d-buysell .terms {
            font-size: 12px;
            text-decoration: none;
            color: #039BE5;
        }

        #d-buysell .confirm-button {
            height: 50px;
            border-radius: 10px;
        }

        #p-h {
            margin-top: 10px;
            height: 48px;
            border: 2px solid #eee;
            border-radius: 0px 10px 10px 0px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container mt-5 mb-5 d-flex justify-content-center">
        <div class="card px-1 py-4 shadow">
            <form method="post" action="{% url 'order:buy_order' %}" id="shop_form">
                {% csrf_token %}
                <div class="card-body ">
                    <div class="d-flex flex-row">
                        <label class="radio mr-1">
                            <input id="buy-radio" type="radio" name="add" value="anz" checked>
                            <span> <i class="fa fa-shopping-cart"></i>
                        <strong class="ms-2">خرید</strong>
                        </span>
                        </label>
                        <label class="radio">
                            <input id="sell-radio" type="radio" name="add" value="add">
                            <span> <i class="fa fa-money"></i>
                        <strong class="ms-2">فروش</strong>
                        </span>
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <!-- <label for="name">Name</label> -->
                                <div class="input-group">
                                <span id="p-h" class="input-group-text">قیمت یک واحد ووچر</span>
                                    <input type="number" class="form-control bg-white" id="dollar-price" name="dollar_price"
                                           aria-label="Sizing example input"
                                           aria-describedby="inputGroup-sizing-sm" value="{{ dollar_price }}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group"><input id="v-count" name="quantity" class="form-control"
                                                                type="number"
                                                                placeholder="تعداد ووچر" min="1" style="direction: rtl">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group"><input id="code-v" name="voucher_code" class="form-control"
                                                                type="text"
                                                                placeholder="کد ووچر" style="display: none;">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group"><input id="a-code" name="activate_code" class="form-control"
                                                                type="text"
                                                                placeholder="کد فعال سازی" style="display: none;">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row" id="total-price">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <span id="p-h" class="input-group-text" >مبلغ کل (تومان)</span>
                                    <input id="t-num" type="number" class="form-control bg-white" aria-label="Sizing example input"
                                           aria-describedby="inputGroup-sizing-sm" value="32500" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" d-flex flex-column text-center px-5 mt-3 mb-3"><strong class="agree-text">
                    لطفا در پر کردن فیلد ها نهایت دقت را داشته باشید</strong></div>
                <div class=" d-flex justify-content-center">
                    <button type="submit" class="btn btn-warning btn-block confirm-button">ثبت سفارش</button>
                </div>
                </div>


            </form>
        </div>
    </div>
    {% block script %}
        <script src="{% static 'order/js/form.js' %}"></script>
    {% endblock %}
{% endblock %}