{% extends 'base_profile.html' %}
{% load static %}
{% block third_css %}
    <link rel="stylesheet" href="{% static 'account/css/profile.css' %}">
{% endblock %}
{% block body %}
    <div class="container py-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ ticket.body }}</li>
                <li class="list-group-item">{{ ticket.reply }}</li>
            </ul>
            <div class="card-footer">
                Card footer
            </div>
        </div>

    </div>
{% endblock %}