{% extends 'base.html' %}
{% block body %}
    <div style="height: 100vh">
        <div class="container-fluid py-4 bg-warning text-center">

            <span class="bg-warning fw-bold">بازیابی کلمه عبور</span>


        </div>
        <div class="container py-4" style="padding-bottom: 150px;">
            <div class="card shadow" style="border-radius: 15px;">
                <div class="card-body">
                    <div class="row">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="col-12 d-flex justify-content-center mb-3">
                                <input type="email" class="form-control text-center" name="email"
                                       placeholder="لطفا ایمیل خود را وارد کنید">
                            </div>
                            <div class="col-12 d-flex justify-content-center mb-3">
                                <button type="submit" class="btn btn-primary">ارسال ایمیل</button>
                            </div>
                        </form>
                        <div class="d-flex justify-content-center text-center mt-3">
                            <ul class="list-unstyled">
                                <li class="mb-2">ایمیلی که با آن ثبت نام انجام داده اید را وارد کنید</li>
                                <li class="mb-2">پس از ارسال ایمیل بلافاصله اقدام به تغییر پسورد نمایید</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}