{% extends 'base.html' %}
{% block body %}
    <div style="padding-bottom: 150px; height: 100vh;">
        <div class="container">
            {% if form.errors %}

                {% for field in form %}

                    {% for errors in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ errors|escape }}</strong>
                        </div>
                    {% endfor %}

                {% endfor %}

            {% endif %}
            <div class="card shadow" style="border-radius: 15px;">
                <div class="card-body">
                    <div class="row">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="col-12 d-flex justify-content-center mb-3">
                                <input type="password" class="form-control text-center" name="password_1" placeholder="پسورد جدید"/>
                            </div>
                            <div class="col-12 d-flex justify-content-center mb-3">
                                <input type="password" class="form-control text-center" name="password_2" placeholder="تکرار  پسورد جدید"/>
                            </div>
                            <div class="col-12 d-flex justify-content-center mb-3">
                                <button type="submit" class="btn btn-primary">تغییر پسورد</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
